<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>navigationservlet</servlet-name>
  	<display-name>navigationservlet</display-name>
  	<description></description>
  	<servlet-class>com.klef.navigationservlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>signupServlet</servlet-name>
  	<display-name>signupServlet</display-name>
  	<description></description>
  	<servlet-class>com.klef.signupServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>loginServlet</servlet-name>
  	<display-name>loginServlet</display-name>
  	<description></description>
  	<servlet-class>com.klef.loginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogoutServlet</servlet-name>
  	<display-name>LogoutServlet</display-name>
  	<description></description>
  	<servlet-class>com.klef.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ChangePasswordServlet</servlet-name>
  	<display-name>ChangePasswordServlet</display-name>
  	<description></description>
  	<servlet-class>com.klef.ChangePasswordServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RegisterPatientServlet</servlet-name>
  	<display-name>RegisterPatientServlet</display-name>
  	<description></description>
  	<servlet-class>com.klef.RegisterPatientServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ScheduleAppointment</servlet-name>
  	<display-name>ScheduleAppointment</display-name>
  	<description></description>
  	<servlet-class>com.klef.ScheduleAppointment</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AppointmentServlet</servlet-name>
  	<display-name>AppointmentServlet</display-name>
  	<description></description>
  	<servlet-class>com.klef.AppointmentServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CancelAppointmentServlet</servlet-name>
  	<display-name>CancelAppointmentServlet</display-name>
  	<description></description>
  	<servlet-class>com.klef.CancelAppointmentServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DoctorLoginServlet</servlet-name>
  	<display-name>DoctorLoginServlet</display-name>
  	<description></description>
  	<servlet-class>com.doctor.DoctorLoginServlet</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>ForgotPasswordServlet</servlet-name>
  	<display-name>ForgotPasswordServlet</display-name>
  	<description></description>
  	<servlet-class>com.doctor.ForgotPasswordServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ViewPatientProfileServlet</servlet-name>
  	<display-name>ViewPatientProfileServlet</display-name>
  	<description></description>
  	<servlet-class>com.klef.ViewPatientProfileServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdatePatientProfileServlet</servlet-name>
  	<display-name>UpdatePatientProfileServlet</display-name>
  	<description></description>
  	<servlet-class>com.klef.UpdatePatientProfileServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AuthoritiesLoginServlet</servlet-name>
  	<display-name>AuthoritiesLoginServlet</display-name>
  	<description></description>
  	<servlet-class>com.authorities.AuthoritiesLoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AuthChangePasswordServlet</servlet-name>
  	<display-name>AuthChangePasswordServlet</display-name>
  	<description></description>
  	<servlet-class>com.authorities.AuthChangePasswordServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AuthRegisterPatientServlet</servlet-name>
  	<display-name>AuthRegisterPatientServlet</display-name>
  	<description></description>
  	<servlet-class>com.authorities.AuthRegisterPatientServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AuthRetrievePatientServlet</servlet-name>
  	<display-name>AuthRetrievePatientServlet</display-name>
  	<description></description>
  	<servlet-class>com.authorities.AuthRetrievePatientServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AuthUpdatePatientByEmailServlet</servlet-name>
  	<display-name>AuthUpdatePatientByEmailServlet</display-name>
  	<description></description>
  	<servlet-class>com.authorities.AuthUpdatePatientByEmailServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AuthDeletePatientByEmailServlet</servlet-name>
  	<display-name>AuthDeletePatientByEmailServlet</display-name>
  	<description></description>
  	<servlet-class>com.authorities.AuthDeletePatientByEmailServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ChangePassword</servlet-name>
  	<display-name>ChangePassword</display-name>
  	<description></description>
  	<servlet-class>com.doctor.ChangePassword</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DoctorRegisterServlet</servlet-name>
  	<display-name>DoctorRegisterServlet</display-name>
  	<description></description>
  	<servlet-class>com.doctor.DoctorRegisterServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AuthRegisterDoctorServlet</servlet-name>
  	<display-name>AuthRegisterDoctorServlet</display-name>
  	<description></description>
  	<servlet-class>com.authorities.AuthRegisterDoctorServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AuthRetrieveDoctorServlet</servlet-name>
  	<display-name>AuthRetrieveDoctorServlet</display-name>
  	<description></description>
  	<servlet-class>com.authorities.AuthRetrieveDoctorServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AuthUpdateDoctorByEmailServlet</servlet-name>
  	<display-name>AuthUpdateDoctorByEmailServlet</display-name>
  	<description></description>
  	<servlet-class>com.authorities.AuthUpdateDoctorByEmailServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AuthDeleteDoctorByEmailServlet</servlet-name>
  	<display-name>AuthDeleteDoctorByEmailServlet</display-name>
  	<description></description>
  	<servlet-class>com.authorities.AuthDeleteDoctorByEmailServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DoctorAppointmentsServlet</servlet-name>
  	<display-name>DoctorAppointmentsServlet</display-name>
  	<description></description>
  	<servlet-class>com.doctor.DoctorAppointmentsServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>HospitalStatisticsServlet</servlet-name>
  	<display-name>HospitalStatisticsServlet</display-name>
  	<description></description>
  	<servlet-class>com.authorities.HospitalStatisticsServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FinancialReportServlet</servlet-name>
  	<display-name>FinancialReportServlet</display-name>
  	<description></description>
  	<servlet-class>com.authorities.FinancialReportServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ForgotPassword</servlet-name>
  	<display-name>ForgotPassword</display-name>
  	<description></description>
  	<servlet-class>com.klef.ForgotPassword</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AForgotPassword</servlet-name>
  	<display-name>AForgotPassword</display-name>
  	<description></description>
  	<servlet-class>com.authorities.AForgotPassword</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminScheduleAppointmentServlet</servlet-name>
  	<display-name>AdminScheduleAppointmentServlet</display-name>
  	<description></description>
  	<servlet-class>com.authorities.AdminScheduleAppointmentServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AuthAddDoctorServlet</servlet-name>
  	<display-name>AuthAddDoctorServlet</display-name>
  	<description></description>
  	<servlet-class>com.authorities.AuthAddDoctorServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AuthDeleteAppointmentServlet</servlet-name>
  	<display-name>AuthDeleteAppointmentServlet</display-name>
  	<description></description>
  	<servlet-class>com.authorities.AuthDeleteAppointmentServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AuthDoctorAppointmentsServlet</servlet-name>
  	<display-name>AuthDoctorAppointmentsServlet</display-name>
  	<description></description>
  	<servlet-class>com.authorities.AuthDoctorAppointmentsServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AuthUpdateAppointmentsServlet</servlet-name>
  	<display-name>AuthUpdateAppointmentsServlet</display-name>
  	<description></description>
  	<servlet-class>com.authorities.AuthUpdateAppointmentsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>navigationservlet</servlet-name>
  	<url-pattern>/navigationservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>signupServlet</servlet-name>
  	<url-pattern>/signupServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>loginServlet</servlet-name>
  	<url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogoutServlet</servlet-name>
  	<url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ChangePasswordServlet</servlet-name>
  	<url-pattern>/ChangePasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RegisterPatientServlet</servlet-name>
  	<url-pattern>/RegisterPatientServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ScheduleAppointment</servlet-name>
  	<url-pattern>/ScheduleAppointment</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AppointmentServlet</servlet-name>
  	<url-pattern>/AppointmentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CancelAppointmentServlet</servlet-name>
  	<url-pattern>/CancelAppointmentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DoctorLoginServlet</servlet-name>
  	<url-pattern>/DoctorLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewPatientProfileServlet</servlet-name>
  	<url-pattern>/ViewPatientProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdatePatientProfileServlet</servlet-name>
  	<url-pattern>/UpdatePatientProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AuthoritiesLoginServlet</servlet-name>
  	<url-pattern>/AuthoritiesLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AuthChangePasswordServlet</servlet-name>
  	<url-pattern>/AuthChangePasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AuthRegisterPatientServlet</servlet-name>
  	<url-pattern>/AuthRegisterPatientServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AuthRetrievePatientServlet</servlet-name>
  	<url-pattern>/AuthRetrievePatientServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AuthUpdatePatientByEmailServlet</servlet-name>
  	<url-pattern>/AuthUpdatePatientByEmailServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AuthDeletePatientByEmailServlet</servlet-name>
  	<url-pattern>/AuthDeletePatientByEmailServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ChangePassword</servlet-name>
  	<url-pattern>/ChangePassword</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DoctorRegisterServlet</servlet-name>
  	<url-pattern>/DoctorRegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AuthRegisterDoctorServlet</servlet-name>
  	<url-pattern>/AuthRegisterDoctorServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AuthRetrieveDoctorServlet</servlet-name>
  	<url-pattern>/AuthRetrieveDoctorServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AuthUpdateDoctorByEmailServlet</servlet-name>
  	<url-pattern>/AuthUpdateDoctorByEmailServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AuthDeleteDoctorByEmailServlet</servlet-name>
  	<url-pattern>/AuthDeleteDoctorByEmailServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DoctorAppointmentsServlet</servlet-name>
  	<url-pattern>/DoctorAppointmentsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>HospitalStatisticsServlet</servlet-name>
  	<url-pattern>/HospitalStatisticsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FinancialReportServlet</servlet-name>
  	<url-pattern>/FinancialReportServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ForgotPassword</servlet-name>
  	<url-pattern>/ForgotPassword</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AForgotPassword</servlet-name>
  	<url-pattern>/AForgotPassword</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminScheduleAppointmentServlet</servlet-name>
  	<url-pattern>/AdminScheduleAppointmentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AuthAddDoctorServlet</servlet-name>
  	<url-pattern>/AuthAddDoctorServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AuthDeleteAppointmentServlet</servlet-name>
  	<url-pattern>/AuthDeleteAppointmentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AuthDoctorAppointmentsServlet</servlet-name>
  	<url-pattern>/AuthDoctorAppointmentsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AuthUpdateAppointmentsServlet</servlet-name>
  	<url-pattern>/AuthUpdateAppointmentsServlet</url-pattern>
  </servlet-mapping>
</web-app>
